<!DOCTYPE html>
<html lang="en">
<head>
  <title>Isha Mehta</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Damion" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
  <link href="https://fonts.googleapis.com/css?family=Yellowtail" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.ui.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

</head>
<body> 
    <div id="handleClicks">
        <div class="overlay-navigation">
            <nav role="navigation">
                <ul>
                    <li><a data-content="The beginning" v-on:click="openSection('showHome')">Home</a></li>
                    <li><a data-content="Curious?" v-on:click="openSection('showAbout')">About</a></li>
                    <li><a data-content="I got game" v-on:click="openSection('showSkills')">Skills</a></li>
                    <li><a data-content="Only the finest" v-on:click="openSection('showWork')">Works</a></li>
                    <li><a data-content="Don't hesitate" v-on:click="openSection('showContact')">Contact</a></li>
                </ul>
            </nav>
        </div>
        <section class="static">
            <div class="open-overlay" v-on:click="openOverlay">
                <span class="bar-top"></span>
                <span class="bar-middle"></span>
                <span class="bar-bottom"></span>
            </div>
        </section>
        <section class="home" v-if="showPage.showHome">
            <div class="right-text col-sm-6 col-md-6 col-lg-6">
                <h1>Isha Mehta</h1>
                <h3>Front-end Web Developer</h3>
            </div>
            <div class="image_left col-sm-6 col-md-6 col-lg-6"></div>​           
        </section>
        <section class="about" v-if="showPage.showAbout">
            <div class="panel panel-default">
                <div class="panel-body">A Basic Panel</div>
            </div>
        </section>
        <section class="skills" v-if="showPage.showSkills">
            <p>some text</p>
        </section>
        <section class="works" v-if="showPage.showWork">
            <div class="parallax">
                <div class="welcome">
                    <span class="welcome-text"> Scroll Down to view my timeline</span><br/>
                    <img class="timeline-icon" src="down.png" height="50"
                    width="50">
                    <div class="h-line"></div>
                </div>
            </div>

            <div class="parallax section-2">
                <div class="gameloft">
                    
                </div>
            </div>
        </section>
        <section class="contact" v-if="showPage.showContact">
            <p>some text</p>
        </section>
    </div>
</body>
<script src="script.js">
</script>
</html>
